/*General Styling*/

:root {
    --primary-colour: #FA991C;
    --secondary-colour: #032539;
    --background-colour: #fbf3f2;
}

body {
    width: 100vw;
    height: 400vh;
    background-color: var(--background-colour);
    color: var(--secondary-colour);
    font-family: Helvetica, Arial;
    overflow: scroll;
    overflow-x:hidden;
    margin: 0 auto; 
}

article {
    width: 100%;
    height: 20%;
    border-bottom: var(--primary-colour) 3px solid;
}

/*Nav Styling*/

header {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 0px;
    top: 10px;
    position: fixed;
}

header nav ul {
    margin: 0px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    transition: 0.25s ease-in-out;
}

nav ul li:hover {
    transform: scale(1.5);
}

a {
    text-decoration: none;
    color: var(--primary-colour);
}

#splash {
    text-align: center;
}

#splash h1 {
    color:var(--primary-colour);
    font-size: 120px;
    margin-top: 210px;
}

#circles {
    animation: rotate infinite 30s;
    transform: rotate(54deg);
}

.info {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    border: 2px solid #000000;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.info:hover {
    width: 250px;
    height: 250px;
    transform: rotate(0deg);
    animation-play-state: paused;
}

#circles:hover{
    animation-play-state: paused;
}

.content {
    animation: counterRotate infinite 30s;
}

#circle1 {
    transform: translateX(250px);
}

#circle2 {
    transform: rotate(72deg) translateX(250px);
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

#circle3 {
    transform: rotate(144deg) translateX(250px);
    animation-delay: 12s;
    animation-fill-mode: forwards;
}

#circle4 {
    transform: rotate(216deg) translateX(250px);
    animation-delay: 18s;
    animation-fill-mode: forwards;
}

#circle5 {
    transform: rotate(288deg) translateX(250px);
    animation-delay: 24s;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(54deg);
    }

    20% {
        transform: rotate(126deg);
    }

    40% {
        transform: rotate(198deg);
    }

    60% {
        transform: rotate(270deg);
    }

    80% {
        transform: rotate(342deg);
    }

    100% {
        transform: rotate(414deg);
    }
 }