/*General Styling*/

:root {
    --primary-colour: #FA991C;
    --secondary-colour: #032539;
    --background-colour: #fbf3f2;
}

body {
    width: 100vw;
    height: 530vh;
    background-color: var(--background-colour);
    color: var(--secondary-colour);
    font-family: 'poppins', Arial;
    overflow: scroll;
    overflow-x:hidden;
    margin: 0 auto; 
    font-weight: 400;
}

article {
    width: 100%;
    height: 20%;
    border-bottom: var(--primary-colour) 3px solid;
}

/*Nav Styling*/

header {
    text-align: left;
    width: 100%;
    font-size: 30px;
    margin-bottom: 0px;
    top: 10px;
    position: fixed;
    position:absolute;
}

header nav ul {
    margin: 0px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    transition: 0.25s ease-in-out;
}

nav ul li:hover {
    transform: scale(1.5);
}

a {
    text-decoration: none;
    color: var(--primary-colour);
}

#splash {
    text-align: center;
}

#splash h1 {
    color:var(--primary-colour);
    font-size: 120px;
    margin-top: 210px;
}

#timelineContainer {
    height: 75%;
    width: 100%;
    border: none;
}

#timeline {
    width: 100%;
    height:100%;
    padding: 50px 0;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: var(--secondary-colour);
    z-index: 1;
}

#point {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    margin-bottom: 25px;
    border: 3px solid var(--primary-colour);
    background-color:var(--primary-colour);
    z-index: 10; /*Brings point in front of line to stop overlap*/

}

#timelineRight, #timelineLeft {
    width: calc(50% + 9.7px);
    display: flex;
    justify-content: space-between;
    clear: both;
}

#timelineRight {
    float: right;
}

#timelineLeft {
    float: left;
    direction: rtl;
}

/*Timeline Content Styling */

.content {
    width: 90%;

}

#timelineRight .content {
    padding: 15px 0px 15px 30px;
}

#timelineLeft .content {
    padding: 15px 30px 0px 15px;
}

.content h2, .content h3, .content h4 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family:'poppins', arial;
}

.content h3, .content h4 {
    color:#7F8C96;
}

.content h2 {
    font-size: 36px;
    color:var(--primary-colour);
}

.content h3 {
    font-size: 22.5px;
}

.content h4 {
    font-size: 14.1px;
    width: 365px;
    font-weight: 400;
    border-bottom: 3px solid var(--primary-colour);
}

#timelineRight .content p{
    width: 335px;
    background-color: var(--secondary-colour);
    color:var(--primary-colour);
    border-top: 3px solid var(--primary-colour);
    padding: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#timelineLeft .content p {
    width: 335px;
    background-color: var(--secondary-colour);
    color:var(--primary-colour);
    border-top: 3px solid var(--primary-colour);
    padding: 15px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

#timeline iframe {
    border:none;
}
