body {
    width: 100vw;
    height: 2466px;
    background-color: #fbf3f2;
    color: #032539;
    font-family: Helvetica, Arial;
    overflow:scroll
}


article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 30%;
    width: 100%;
}

/*Screen1 Styling*/


#leftSide {
    width: 100%;
    height: 100%;
}

#image {
    height: 100%;
    width: 50%;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-image: url(../Media/face.png);
}

#text {
    text-align: left;
    width: 100%;
}

#text h1 {
    margin-bottom: 0px;
}

/*Nav Styling*/

header nav ul {
    margin: 0px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    transition: 0.25s ease-in-out;
}

nav ul li:hover {
    transform:scale(1.5);
}

a {
    text-decoration: none;
    color:#FA991C;
}

#rightSide {
    text-align: center;
    height: 100%;
    width: 100%;
}

#rightSide h1 {
    font-size: 128px;
}

#rightSide h2 {
    font-size: 58px;
}

#name {
    display: flex;
}

#name h1 {
    font-weight: bold;
    color:#FA991C;
}

#name h2 {
    margin-top: 150px;
    margin-bottom: 0px;
}

/*Header styling*/

header {
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 0px;
    top: 10px;
    position: fixed;
}

/*General Screen Styling*/

#screen1, #screen2 {
    margin-bottom: 0px;
    border-bottom: solid 6px #FA991C;
}

#text {
    text-align: left;
}

#text h1 {
    margin-bottom: 0px;
}

#text p {
    margin-left: 8px;
    padding-right: 65px;
}

/*Screen2 Styling*/

#screen2 {
    width: 100%;
}

#monitor {
    background-image: url(../Media/monitor.png);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    scale: 0.75;
}

/*Screen3 Styling*/

#screen3 #leftSide {
    display: flex;

   /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); */
}

.columns {
    background-image: url(../media/calne.jpg);
    height: 100%;
    width: 28%;
    margin: 0%;
}

.columns:hover {
    width: 33%;
    margin-right: 15px;
}


/*Slider Styling*/

#monitor {
    height: 100%;
    width: 100%;
}

#slide1, #slide2, #slide3 {
    height: 52.5%;
    width: 91%;
    translate: 48px 94px;
    position: absolute;
    animation: fade 30s infinite;
} 

#slide1 {
    animation-delay: 0s;
    background-image: url(../Media/Bitsy\ Game\ ScreenShot.jpg);
}

#slide2 {
    animation-delay: -10s;
    background-image: url(../Media/bathSpaUni.jpg);
}

#slide3 {
    animation-delay: -20s;  
    background-image: url(../Media/calne.png);
}

#monitor:hover #slide1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../Media/Bitsy\ Game\ ScreenShot.jpg);
}

#monitor:hover #slide2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../Media/bathSpaUni.jpg);
}

#monitor:hover #slide3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../Media/calne.png);
}

    @keyframes fade {
        0%,
        28%,
        100% {
           /* transform: translateX(0); */
           opacity: 100%;
            animation-timing-function: ease;
        }
        
        33% {
          /*  transform: translateX(-150%);  */
            opacity: 0%;
            visibility: hidden;
            animation-timing-function: ease;
        } 
        
        95% {
            opacity: 0%;
            animation-timing-function: ease;
        }
        }
        
/*Responsive Styling*/

@media screen and (min-width: 992px) {
    body {
        margin-top: 30px;
        height: 3240px;
    }

    #image {
        height: 100%;
    }

    #slide1, #slide2, #slide3 {
        height: 52.5%;
        width: 91%;
        top: 40px;
        left:-8px;
    }
}



