body {
    width: 960px;
    height: 2466px;
    background-color: #fbf3f2;
    color: #032539;
    font-family: Helvetica, Arial;
    overflow:scroll
}

article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 500px;
}

#leftSide {
    width: 40vw;
    height: 30vh;
}

#image {
    height: 740px;
    width: 40vw;
    position: absolute;
    animation: slide 21s infinite;
    background-size: cover;
    background-position: center;
    background-image: url(../Media/face.png);
}

#text {
    text-align: left;
}

#text h1 {
    margin-bottom: 0px;
}

#text p {
    margin-left: 8px;
    padding-right: 65px;
}

header {
    text-align: center;
    width: 100vw;
    font-size: 30px;
    margin-bottom: 0px;
    top: 10px;
    position: fixed;
}

header nav ul {
    margin: 0px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    transition: 0.25s ease-in-out;
}


header nav ul li:nth-child(1) {
    color:lightslategray;
}

nav ul li:hover {
    transform:scale(1.5);
}

a {
    text-decoration: none;
    color:#FA991C;
}

#rightSide {
    text-align: center;
}

#rightSide h1 {
    font-size: 128px;
}

#rightSide h2 {
    font-size: 58px;
}

#rightSide button {
    fill: none;
    padding: 15px;
    border: #FA991C solid 3px;
    color: #FA991C;
    border-radius: 20px;
    translate: 30px 0px;
}

#rightSide {
    width: 60vw;
    height: 30vh;
}

#name {
    display: flex;
}

#name h1 {
    font-weight: bold;
    color:#FA991C;
}

#name h2 {
    margin-top: 150px;
    margin-bottom: 0px;
}

/*Footer styling*/

header {
    position: sticky;
    bottom: 10px;
}

#screen1, #screen2 {
    margin-bottom: 500px;
}

#screen2 {
    color:aqua;
}



