body {
    width: 960px;
    height: 740px;
    overflow: hidden;
    background-color: #fbf3f2;
    color: #032539;
    font-family: Helvetica, Arial;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 500px;
}

/*Left Side Styling*/

#leftSide {
    width: 40vw;
}

/*#slider {
    width: 40vw;
    height: 100vw;
} */

#slide1,
#slide2,
#slide3 {
    height: 740px;
    ;
    width: 40vw;
    position: absolute;
    animation: slide 21s infinite;
    background-size: cover;
    background-position: center;
}

#slide1 {
    background-image: url(../Media/face.png);
    animation-delay: 0s;
}

#text {
    text-align: left;
}

#text h1 {
    margin-bottom: 0px;
}

#text p {
    margin-left: 8px;
    padding-right: 65px;
}

footer {
    text-align: center;
    width: 100vw;
    font-size: 30px;
    margin-top: 150px;
}

footer nav ul {
    margin: 0px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    transition: 0.25s ease-in-out;
}


footer nav ul li:nth-child(1) {
    color:lightslategray;
}

nav ul li:hover {
    transform:scale(1.5);
}

.currentPage {
    color: lightslategray;
}

a {
    text-decoration: none;
    color:#FA991C;
}

/*

#slide2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../Media/Bitsy\ Game\ ScreenShot.jpg);
    animation-delay: -7s;
}

#slide3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../Media/bathSpaUni.jpg);
    animation-delay: -14s;
}



@keyframes slide {
0%,
28%,
100% {
    transform: translateY(0);
    animation-timing-function: ease;
}

33% {
    transform: translateY(-150%);
    animation-timing-function: step-end;
}

95% {
    transform: translateY(100%);
    animation-timing-function: ease;
}
}
*/

#rightSide {
    text-align: center;
}

#rightSide h1 {
    font-size: 128px;
}

#rightSide h2 {
    font-size: 58px;
}

#rightSide button {
    fill: none;
    padding: 15px;
    border: #FA991C solid 3px;
    color: #FA991C;
    border-radius: 20px;
    translate: 30px 0px;
}

#rightSide {
    width: 60vw;
    height: 100vw;
}